body {
  margin: 0;
}
.bg-box {
  background-color: darkgreen;
  background-image: url(./images/house.webp);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.bg-box::before {
  content: "";
  display: block;
  height: 100vh;
  background-image: url(./images/grass.webp), url(./images/lamp.webp), url(./images/hedgehog.webp), url(./images/donut.webp);
  background-position: bottom, top, left, right;
  background-size: 400px, 50px, 50px, 50px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}
